@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: primary;
}

body {
  background-image: linear-gradient(to bottom, #f0f4f8, #e3e8f4);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f9c91f;
  border-radius: 14px;
  border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0cf0f;
}

body {
  -webkit-font-smoothing: antialiased;
}

.slick-list {
  padding-bottom: 40px !important;
}

.login-bg {
  background-image: url("../assets/images/test.jpg");
}

.forgot-bg {
  background-image: url("../assets/images/bg-forgot.webp");
}

.gradient-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1)
  );
}

@media (max-width: 768px) {
  .gradient-mask {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.synopsis-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

@media (max-width: 640px) {
  .synopsis-clamp {
    display: none;
  }
}
